<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hey, {{name}}!</p>
  <p>Click on the link below to change your password</p>
  <p>
    <a href="{{link}}">Password reset</a>
  </p>
  <p>If you did not require this action, please discard this email...</p>
  <p>
    Thanks!<br />
    <strong>AWP TEAM</strong>
  </p>
</div>
